<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.chae.mapper.OffInfoMapper">

	<select id="getOffInfos" resultType="com.erp.chae.vo.OffInfoVO">
		SELECT OI.*, UI.UI_NAME, UI.UI_ID ,
		(SELECT SUM(OUI_DAY) FROM OFF_USE_INFO OUI WHERE OUI.OI_NUM = OI.OI_NUM AND OUI_STATUS=1) USE_DAY,
		OI_DAY - IFNULL((SELECT SUM(OUI_DAY) FROM OFF_USE_INFO OUI WHERE OUI.OI_NUM = OI.OI_NUM AND OUI_STATUS=1),0) LEFT_DAY
		FROM OFF_INFO OI 
		INNER JOIN USER_INFO UI ON OI.UI_NUM=UI.UI_NUM 
		<where>
			<if test='uiId != null and uiId != ""'>
				AND UI_ID LIKE CONCAT('%',#{uiId},'%')
			</if>
			<if test='uiName != null and uiName != ""'>
				AND UI_NAME LIKE CONCAT('%',#{uiName},'%')
			</if>
		</where>
		ORDER BY UI.UI_NUM DESC
	</select>
	<select id="getOffInfosByUiNum" resultType="com.erp.chae.vo.OffInfoVO">
		SELECT OI.*, UI.UI_NAME, UI.UI_ID ,
		(SELECT SUM(OUI_DAY) FROM OFF_USE_INFO OUI WHERE OUI.OI_NUM = OI.OI_NUM AND OUI_STATUS=1) USE_DAY,
		OI_DAY - IFNULL((SELECT SUM(OUI_DAY) FROM OFF_USE_INFO OUI WHERE OUI.OI_NUM = OI.OI_NUM AND OUI_STATUS=1),0) LEFT_DAY
		FROM OFF_INFO OI 
		INNER JOIN USER_INFO UI ON OI.UI_NUM=UI.UI_NUM 
		WHERE UI.UI_NUM = #{uiNum}
		ORDER BY UI.UI_NUM DESC
	</select>

	<select id="getOffInfo" resultType="com.erp.chae.vo.OffInfoVO">
		SELECT OI.*, UI.UI_NAME, UI.UI_ID
		FROM OFF_INFO OI
		INNER JOIN USER_INFO UI ON OI.UI_NUM=UI.UI_NUM
		WHERE OI.OI_NUM=#{oiNum}
	</select>
	
	<insert id="insertOffInfo">
		INSERT INTO OFF_INFO(OI_YEAR, OI_DAY, UI_NUM)
		VALUES(#{oiYear},#{oiDay},#{uiNum})
	</insert>

	<update id="updateOffInfo">
		UPDATE OFF_INFO
		SET OI_YEAR=#{oiYear},
		OI_DAY=#{oiDay},
		UI_NUM=#{uiNum}
		WHERE UI_NUM = #{uiNum}
	</update>

	<delete id="deleteOffInfo">
		DELETE FROM OFF_INFO
		WHERE OI_NUM = #{oiNum}
	</delete>

	<delete id="deleteOffInfoByUiNum">
		DELETE FROM OFF_INFO
		WHERE UI_NUM = #{uiNum}
	</delete>


</mapper>