<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.chae.mapper.ProductInfoMapper">
	<select id="getProductInfos" resultType="com.erp.chae.vo.ProductInfoVO">
		SELECT * FROM PRODUCT_INFO 
	</select>
	
	<select id="getProductInfo" resultType="com.erp.chae.vo.ProductInfoVO">
		SELECT * FROM PRODUCT_INFO 
		<where>
			<if test='piNum != null and piNum != 0'>
				AND PI_NUM = #{piNum}
			</if>
		</where>
	</select>
	
	<insert id="insertProductInfo">
		INSERT INTO PRODUCT_INFO(PI_NAME, PI_STOCK, PI_PRICE, PI_MANUFACTURE)
		VALUES(#{piName}, #{piStock}, #{piPrice}, #{piManufacture})
	</insert>
	
	<update id="updateProductInfo">
		UPDATE PRODUCT_INFO
		SET PI_NAME = #{piName}, 
		PI_STOCK = #{piStock},
		PI_PRICE = #{piPrice},
		PI_MANUFACTURE = #{piManufacture}
		WHERE PI_NUM = #{piNum}
	</update>
	
	<delete id="deleteProductInfo">
		DELETE FROM PRODUCT_INFO 
		WHERE PI_NUM = #{piNum}
	</delete>
</mapper>