<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.chae.mapper.UserInfoMapper">
	<select id="getUserInfos" resultType="com.erp.chae.vo.UserInfoVO">
		SELECT UI.* 
	    ,DI.DI_NAME
		,GI.GI_NAME 
		FROM USER_INFO UI
		INNER JOIN DEPART_INFO DI ON UI.DI_NUM = DI.DI_NUM
		INNER JOIN GRADE_INFO GI ON UI.GI_NUM = GI.GI_NUM 		
		<where>
			<if test='uiId != null and uiId != ""'>
				AND UI.UI_ID LIKE CONCAT('%',#{uiId},'%')
			</if>
			<if test='uiName != null and uiName != ""'>
				AND UI.UI_NAME LIKE CONCAT('%',#{uiName},'%')
			</if>
			<if test='active != null and active != ""'>
				AND UI.ACTIVE = #{active}
			</if>
		</where>
		ORDER BY ACTIVE DESC
	
	</select>
	
	<select id="getUserInfoById" resultType="com.erp.chae.vo.UserInfoVO">
		SELECT UI.* 
	    ,DI.DI_NAME
		,GI.GI_NAME 
		FROM USER_INFO UI
		INNER JOIN DEPART_INFO DI ON UI.DI_NUM = DI.DI_NUM
		INNER JOIN GRADE_INFO GI ON UI.GI_NUM = GI.GI_NUM 
		WHERE UI_ID=#{uiId}
	</select>
	
	<select id="getUserInfoByNum" resultType="com.erp.chae.vo.UserInfoVO">
		SELECT
		 UI.UI_NUM
	    ,UI.UI_ID
	    ,UI.UI_NAME
	    ,UI.UI_EMAIL
	    ,UI.UI_ADDRESS
	    ,UI.UI_FILE_PATH
	    ,UI.UI_PWD
	    ,DATE_FORMAT(UI.UI_BIRTH,'%Y-%m-%d') UI_BIRTH
	    ,UI.UI_TRANS
	    ,DATE_FORMAT(UI.CREDAT,'%Y-%m-%d') CREDAT
	    ,UI.CRETIM
	    ,DATE_FORMAT(UI.OUTDAT,'%Y-%m-%d') OUTDAT
	    ,UI.ACTIVE
	    ,UI.UI_LVL
	    ,UI.UI_DUTIES
	    ,UI.GI_NUM
	    ,UI.DI_NUM
	    ,DI.DI_NAME
		 ,GI.GI_NAME
		 ,DATE_FORMAT(STR_TO_DATE(WI.WI_START,'%H%i%s'),'%T') WI_START
		 ,DATE_FORMAT(STR_TO_DATE(WI.WI_END,'%H%i%s'),'%T') WI_END
		 , WI_NUM
		 , DATE_FORMAT(WI.WI_DATE,'%Y-%m-%d') WI_DATE
		 , DATE_FORMAT(STR_TO_DATE(WI.WI_ETC,'%H:%i:%s'),'%T') WI_ETC
		 , OI.OI_NUM
		 FROM USER_INFO UI
		INNER JOIN DEPART_INFO DI ON UI.DI_NUM = DI.DI_NUM
		INNER JOIN GRADE_INFO GI ON UI.GI_NUM = GI.GI_NUM
		LEFT OUTER JOIN WORKING_INFO WI ON WI.UI_NUM = UI.UI_NUM AND WI.WI_DATE = DATE_FORMAT(NOW(),'%Y%m%d')
		LEFT OUTER JOIN OFF_INFO OI ON OI.UI_NUM = UI.UI_NUM
		WHERE UI.UI_NUM = #{uiNum}
	</select>
	
	
	<select id="getUserInfoByIdAndPwd" resultType="com.erp.chae.vo.UserInfoVO">
		SELECT * FROM USER_INFO 
		WHERE UI_ID=#{uiId}
		AND UI_PWD=#{uiPwd}
	</select>
	
	<update id="updateUiId">
		UPDATE USER_INFO
		SET UI_ID = CONCAT('ERP',LPAD(#{uiNum},8,'0')),
		UI_PWD = CONCAT('ERP',LPAD(#{uiNum},8,'0'))
		WHERE UI_NUM = #{uiNum}
	</update>
	<update id="changePwd">
		UPDATE USER_INFO
		SET ACTIVE='1',
		UI_PWD = #{uiPwd}
		WHERE UI_NUM = #{uiNum}
	</update>
	
	<insert id="signUp" useGeneratedKeys="true" keyColumn="UI_NUM" keyProperty="uiNum">
		INSERT INTO USER_INFO(UI_NAME, UI_TRANS, UI_BIRTH, UI_EMAIL, UI_ADDRESS, DI_NUM, GI_NUM, UI_LVL, UI_DUTIES, ACTIVE, UI_FILE_PATH
		, CREDAT, CRETIM)
		VALUES( #{uiName},#{uiTrans},#{uiBirth},#{uiEmail},#{uiAddress},#{diNum}, #{giNum}, #{uiLvl}, #{uiDuties}, 2, #{uiFilePath}
		,DATE_FORMAT(NOW(),'%Y%m%d'), DATE_FORMAT(NOW(),'%H%i%s'))
	</insert>
	
	<update id="updateUserInfo">
		UPDATE USER_INFO
		<set>
			<if test='uiName != null and uiName != ""'>
				UI_NAME = #{uiName}, 
			</if>
			<if test='uiPwd != null and uiPwd != ""'>
				UI_PWD = #{uiPwd},
			</if>
			<if test='uiBirth != null and uiBirth != ""'>
				UI_BIRTH = #{uiBirth},
			</if>
			<if test='uiTrans != null and uiTrans != ""'>
				UI_TRANS = #{uiTrans},
			</if>
			<if test='uiEmail != null and uiEmail != ""'>
				UI_EMAIL = #{uiEmail},
			</if>
			<if test='uiAddress != null and uiAddress != ""'>
				UI_ADDRESS = #{uiAddress},
			</if>
			<if test='uiDuties != null and uiDuties != ""'>
				UI_DUTIES = #{uiDuties},
			</if>
			<if test='diNum != 0'>
				DI_NUM = #{diNum},
			</if>
			<if test='giNum != 0'>
				GI_NUM = #{giNum},
			</if>
			<if test='uiFilePath != null and uiFilePath != ""'>
				UI_FILE_PATH = #{uiFilePath},
			</if>
		</set>
		WHERE UI_NUM = #{uiNum}
	</update>
	
	
	<update id="updateUserInfoActive">
		UPDATE USER_INFO
		SET ACTIVE=#{active},
		OUTDAT = #{outdat}
		WHERE UI_NUM = #{uiNum}
	</update>
	
	<update id="pwdInitRequest">
		UPDATE USER_INFO
		SET ACTIVE='3'	
		WHERE UI_ID = #{uiId}
	</update>
	
	<update id="pwdInit">
		UPDATE USER_INFO
		SET ACTIVE=#{active}
		<if test='active == 2'>
			,UI_PWD = UI_ID
		</if>
		WHERE UI_NUM = #{uiNum}
	</update>
</mapper>